<!DOCTYPE html>
<html lang="zh-CN">

<head>
<meta charset="utf-8">
<title>Microshield 麦弗瑞科技官网</title>
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="Bootstrap,CSS,CSS框架,CSS framework,javascript,bootcss,bootstrap开发,bootstrap代码,bootstrap入门">
<meta name="robots" content="index,follow">

<!-- Site CSS -->
<link href="/static/bootstrap.min.css" rel="stylesheet">
<link href="/static/font-awesome.min.css"rel="stylesheet">
<link href="/static/site.min.css" rel="stylesheet">

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" href="https://cdn.jsdelivr.net/npm/@bootcss/www.bootcss.com@0.0.11/dist/ico/apple-touch-icon-precomposed.png">
<link rel="shortcut icon" href="https://cdn.jsdelivr.net/npm/@bootcss/www.bootcss.com@0.0.11/dist/ico/favicon.ico">
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-collapse collapse" role="navigation">
      <ul class="nav navbar-nav">        
        <li><a href="https://v3.bootcss.com/">产品</a></li>
        <li><a href="https://v4.bootcss.com/">解决方案</a></li>
        <li><a href="https://www.sasscss.com/">服务于支持</a></li>
        <li><a href="https://less.bootcss.com">合作伙伴</a></li>
        <li><a href="https://www.jquery123.com/">联系我们</a></li>
        <li><a href="https://www.jquery123.com/">关于麦弗瑞</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right hidden-sm">
        <li><a href="/about/">中文</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="jumbotron masthead">
  <div class="container">
    <h1>Bootstrap</h1>
    <h2>简洁、直观、强悍的前端开发框架，让web开发更迅速、简单。</h2>   
  </div>
</div>

  <div class="bc-social">
    <div class="container">
      <ul class="bc-social-buttons">
        <li>
          <a href="http://wenda.bootcss.com" target="_blank" title="Bootstrap问答社区">Bootstrap问答社区</a>
        </li>
        <li>
          <a href="https://weibo.com/bootcss" target="_blank" title="Bootstrap中文网官方微博">新浪微博：@Bootstrap中文网</a>
        </li>
      </ul>
    </div>
  </div>

<footer class="footer ">
  <div class="container">
      <div class="col-md-6  col-lg-6">
        <div class="row about">
          <div class="col-sm-3">
            <h4>关于</h4>
            <ul class="list-unstyled">
              <li><a href="/about/">关于我们</a></li>
              <li><a href="/ad/">广告合作</a></li>
              <li><a href="/links/">友情链接</a></li>
              <li><a href="/hr/">招聘</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4>联系方式</h4>
            <ul class="list-unstyled">
              <li><a href="https://weibo.com/bootcss" title="Bootstrap中文网官方微博" target="_blank">新浪微博</a></li>
              <li><a href="mailto:admin@bootcss.com">电子邮件</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4>旗下网站</h4>
            <ul class="list-unstyled">
              <li><a href="https://www.bootcdn.cn/" target="_blank">BootCDN</a></li>
              <li><a href="https://pkg.phpcomposer.com/" target="_blank">Packagist中国镜像</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4>特别致谢</h4>
            <ul class="list-unstyled">
              <li><a href="https://www.maoyuncloud.com/" target="_blank">猫云</a></li>
              <li><a href="https://www.jdcloud.com/" target="_blank">京东云</a></li>
              <li><a href="https://www.upyun.com" target="_blank">又拍云</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
    
    <div class="row footer-bottom">
      <ul class="list-inline text-center">
        <li><a href="http://www.beian.miit.gov.cn/" target="_blank">&copy 2020 麦弗瑞科技有限公司</a></li><li>京公网安备11010802014853</li>
      </ul>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

    
</body>
</html>